@charset "UTF-8";

/*



    `   `   `  `  `   `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `   `   `   `   `   `   `   `   `   `   `   `   `   `   `   `   `   `   `   `   `   `   `   `   `   `
                                                                                                                                                                                                     `
                   `   `   `    `   `    `     `   `   `   `  `  `  `  `  `  `  `  `  `  `  `                          `
   `  `  `   `   `           `         `    `             `                                   `  `  `  `  `  `  ..__..     __`..  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `
                      `   `                      `  `   `      `     `     `     `     `                     ._-.__(~:..._~_-.~_--                                                                  `
          `   `    `           `  ` `    `   `               `    `    `  `   `    `  `   `  `             .___....>(:....-_._._-__.
   `  `          `     `   `           `       `      `   `                                       `  `  ` ....__-:.>->.._.(_.-..___.   `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `
         `   `                `      `     `     `  `         `  `  `  `    `  `  `    `   `  `          . .__(.(..>.<..-.-1__:_ (- _                                                             ` `
                      `   `     `             `        `   `             `          `     ` ..           _._._(_(-.--_-....(x.(__.(_.
   `  `         `  `         `    `      `               `     `  `  `       `  `        .__!(-. `  `    ~->_.(--I._--(-...~I.(<_.(;_.   `   `   `   `   `   `   `   `   `   `   `   `   `   `
          `   `        `            `  `    `    `  `       `           `          `  .~_``.(<~.!       .`(<_-((-(<__-<(-..((_>>_<(>(_.                                                         `    `
                          `                           `                    `         J_ . (.<..         . _<:_((_<uJ1-.~(-(+Wmy+,<_j<<_.
                   `         `  `             `   `      `    `  `  `  `      `  `   <` <i,(.l:         _ (;;:ZXXMMB=_~-(!!,6I-,ZJ<:I;<_.
      `       `       `           `  `   `  `              `              `         `..`` ._<:          ~.(;<jC?(>><!``  `` ~ ~ <z<;?c:<+,   `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `
   `     `       `      `  `                     `  `  `       `  `  `       `  `     _.```.(          .(-><:z({...```` ````...-311<+j<:;1                                                       `  `
            `                  `       `       `         `   `         `           `  .````.!       `  <:_>+;I(I..``````. ````-JlZ=z;IIj;j_
                   `  `   `       `  `    `           `            `     `  `        .````.!     `     z<:>+;V(=I.````` !:```.Jl=1lz;IIJ;j:
     `  `     `  `           `              `    `  `     `   `  `    `       `.(<(., ```.!   `       .zz;j<zj2I==I-.``. :`.JI==c(=zjI<I<Z    `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `
           `           `       `         `    `                           `    ..((<,.``.~         .~_:~Gz<1+1u(0zzd_?<j (<:(=lz!xzCz;J1z!                                                       `  `
   `                      `       `  `                `  `  `   `  `   `        <__`._<~?1'  `    `i`.(JuXkx+1<1(==vx:~(.->~(z=z(Z1zzJzv`
              `  `  `   `    `            `    `  `                   `    `  ` !`_~~.((/      ..~ .__(OuuuHWWaZ(wzz1?^~```?(hx7+vv+Zv^                                                       `
      `  `                     `    `  `            `   `    `   `        `   .__~~...((.  ...~ `.```_JzXUXSuXU1dUc<<__````.-1G`,(x7`        `  `  `  `  `  `  `  `  `  `  `  `  `  `  `  `          `
                                  `         `              `        `        ,<_._`.`.:(>__`` __~<_-.(wkXuXuuVJ7Xuu0J1~...--.`?W-.!   .ul
                      `   `  `                 `      `         `           _<_`.`.. ~(__```.```.` _~zXUZXkuu%` (WXuXd,?-?+~~_` 1Xk0dkuuX!
              `    `                             `  `                  `   ..~`.```._:< _~ ``.```..._kuuuXuzX!``,X~vCYTU=1&&_.```(duuXkXUI
                                       `    `              `         `     _ ```.` _(+~`-<_-` ..._~~(XkXukuur.``.0.>(1_c_?_~vi-`` 1SuuWuuu$-
                                  `                           `  `        . ``.` -~(?!__..(- ._:~:~(zuuuXSuX!`...k`:>` c..!~(:> `` 4uuXuuX/-
                        `    `                   `    `    `              :``.` :(+<!.:~-__:__~::(?v:UuuXuuV```` W_:(~_:`__~>_(_``.(7?WuuX/
                 `                   `   `  `       `               `    .``..`.(v<~_~~:~:~~:_:(?` .~(uZWuur. ``.X::(- :`<?<<_ o-!`_ ~dWV~..
              `       `    `    `              `         `      `        ..` ~ (<~:_:~::~::(_!`    < -jXWuur`_.`.X{:->_C___.._.'...._~?nJ-_.
                                  `                          `       `     `~?~<<:__~?!!!!`       .(:` _juuI`<_..k:c(-_>..>_,J' ._!``.!` .([
                                       `    `    `    `                                           ,~1.``,uuX <_..X~l(>:<~(:~J?o-<...!``.`_(<~.
                        `    `                      `     `     `      `  `                       (~(1.`.uzu:<~_.W.<(>_<:(<?1++dw=<_.~`` _`(<(
              `    `              `            `             `     `                              .__~<-,uuu{<~~(W.:r~_<~(:_JjdRI~_~.`. _.`,c~~
                                       `  `                          `                   `        .<<--__SuZZ(:~Jk(:I:(. (::OZX6n:_``.````.`t:(
                       `   `   `                    `   `  `    `         `    `    `         `   ...<i(.dkkXa+_JS((>:<>-J<(OwK1WAx_<_`.``..1~:
                                  `         `  `                                                     wuuuuuzuuuuuuXUUUXwu&JJZX3dVS~::~_-  ._(/
              `    `         `       `                              `  `    `          `  `          SuuuuuuuuzuuuuuuuuuuuuuuXU9"" ~-:~::((?`
                        `                `       `  `  `   `  `  `        `    `   `         `      JXSuuzuuuuuuXUUUUUXkkkuuuuuz     .7?!
                                  `                                                               .jXWuzuuzuuuzuuuzuzuuuuuuUWWk<
              `              `         `    `  `                     `              `   `        ,(XWuuuzuuzXSuuzuuuuuuzuuzuXVVv.
                   `   `                            `   `  `    `       `    `  `          `  ` _(XWXuuuuzuuXuuuuzuuzXuuzXuuuVV$:
                                  `                                `      `                    _(XfSuuzuuuuukuzuuuzuuXuuuXXuuXVk{
                          `  `         `    `    `           `                     `  `  `    .(uXSuuzuuuzuXSzuzuuuzuXuzuukuzXVV>
              `                                     `  `   `    `    `         `              iuXWuuuuuXzuuXuuuuzuuuzXuuuukuuXVVI
                   `   `        `   `          `                        `   `       `        .dZdSuzuuXuuuzXuuzuuzuuuXuuzukuuXfVk
                             `         `    `                                            `   ,uXWuuuzXKuuzukuuuzuuzuuXuuuuRuuuWVk:
              `                                     `   `  `   `  `  `    `    `             dudSuzuuXSuzuuRuuzuuuzuzXuzuuWuuuWVV}
                          `       `              `                                `  `       kXWuuuzuXuuuuXSuzuuzuuuuXuuzuXuuuWVVz
                   `   `               `    `                          `     `          `  ` SXSuzuuVkuzuuXXuuuzuuzuuXuuuzXuXuWVVI
                             `                 `    `  `   `  `   `  `    `                 .uXXuuzuXSuuzuXuzuuuuzuuzXuuuuXuXXWVVf
              `                   `                                            `   `        .uVuzuuuduuzuuXuuzuzuuuzuXXuzuXuukWVV$~
                                       `  `      `              `                     `  `  ,XWuuzuuyuzuuzXuuuzuuzuuuXkuuzXuuWWWVS:
                   `   `   `   `               `    `   `  `         `    `                 (XkuuuzXWuuuuuXuzuuuzuuzuXkzuuXXuWVHVW{
              `                   `         `                 `              `  `  `       .XXSuzuuXkuzuzuXuuzuuuuzuuXSuuuXkuXVHVV:
                                     `                            `     `             `    duXSuuzuXkuuzuuXuuuzuuzuuzXXuzuXkuXVpVVz
                             `           `       `  `  `   `         `                    ,TXVXuuuuXkuuuuuZuzuuzuuuuuXuuuzXkuXVWVVI
                   `   `          `                            `          `   `    `     `  dWkkuuuXkkuuuuXuuuuuzuzuuXuuuuXSXWWfVff
              `           `            `    `  `                  `                   `     TWVVVVVWVVVVWWHWWWkXuuuzuXkuzuXXVfWX`
                             `                      `   `  `         `         `               !7UWKfffVKWWWWWWVVWWfVWVVWHVWH9
                                  `                           `         `  `      `               .-~~~~~~~~~:~:(TWWfWfVVfff>
              `    `   `               `    `    `              `                   `   `          (~~~~~~~~~~~~(c::?<??=:~~:
                             `                      `  `   `       `          `                     :~__~~~~~~~~~l~~~~____~(
                          `       `            `                     `   `       `       `   `      .-``````...~~1~_`````..(
                       `             `   `  `                 `             `       `                ~```````...~(_``````.~{
              `    `           `                    `   `  `    `              `       `              -``````...~(_``````.(`
                             `    `              `                 `  `  `                `   `       _```` ...--(uuuuuuuUu
                                       `       `                            `      `                   JdUuuuuuuuXuuuzuuuuZ
              `        `                    `       `  `   `  `                `      `  `             (uuuzuuuuuXuuzuuuuuk
                   `      `  `                                  `   `    `                   `         .kuuuzuuuuXuuuuuuuuX
                                  `  `   `       `                                `                     SzuuuuuuuWuuuzuuuuZ_
                                            `       `   `  `         `    `  `      `    `    `        duuzuuuuuXjuuzuuuuuu)
              `       `                        `              `  `             `                      duuuuuuuuX^.uzuuuuuuu]
                   `      `  `    `    `                               `              `    `         Juuuzuuuuu'  Suuzuuuuu$
                                            `    `  `  `   `        `     `      `  `    `    `     duuuzuuuuX'   Ouzuuuuuuk
              `                                                `              `                    JuuuzuuuuX^    (zuuuuuuuX
                        `    `  `   `  `       `                  `                               ,uuzuuuuuu\     ,uuzuuuuuX
                                            `       `   `  `         `  `  `     `  `    `    `  .uuuuuuuuur      .uuuuuuuuX~
                   `                                          `                `                .Suzuzuuuu2       .uuzuuuuuZ{
              `        `     `    `    `         `              `                      `   `    JuuuzuuuuV        .uuuzuuuuu{
                                            `       `  `   `       `     `          `          .SuzuuuuuX'         kuuuuuuuX!
                          `                    `                     `      `  `         `    `,uuuzuuuu\          SuuuuuuuX
              `    `   `     `    `    `                      `                                kzuuuuuu2           wuzuuuuur
                                          `      `  `   `  `    `       `         `  `        .uuzuuuuX`           OuuzuuuZ\
                                            `                      `      `    `         `    Juuuuuuu\            zuuuuuuX
                             `    `  `         `                     `                        kuzuuuuV             (uzuuuuI
              `    `   `                 `          `  `   `  `             `       `    `   .uuuuuuX>             (uuuuuu\
                          `                                     `      `  `    `             ,uuzuuur              .uuuuuX`
                             `  `      `    `  `                   `              `   `      wuuuuuut              .uzuuuX
              `                     `             `   `  `  `                            `  /RuuzuuuI              (uuuuuk
                   `   `                                        `    `    `    `    `      , Uuuuuuuk              wuzuuuX-
                             `    `         `       `                                     .,`(uuX7<~?i            .K"77TXXJ.
                          `            `       `          `  `    `    `    `    `     ` .UX..k%``._~~i           , ``.-~(Li
              `        `                              `         `    `    `    `    `    (uuX.?>```..~(l          :....-~:~(|
                   `              `       `      `  `                                     (Xuh``..(<<`..l        .{`.`. _?1(}
                             `         `       `          `                                .zu[`?(..``..>l       <.?<<!<<?~J;
              `                                              `  `    `    `    `    `       ,Xun. ``..__~(,     .h.  .._~~(Sk
                       `        `   `       `       `   `                              `     juuX&......dSX-    ,uuUUwwuUUuur
                   `      `  `                 `           `      `    `    `    `            ?XuuuuzuuuuuX'     4uuuuuuuZZ^
                                       `                        `    `    `    `    `    `      .7TVVVT7"!         ??77?!










*/

/*ボディー*/
body {
	margin: 0em;
	padding: 0em;
}

body.noScroll {
	overflow: hidden;
}

#body{
	padding-top: var(--header-height-size);
	padding-left: var(--body-side-padding-size);
	padding-right: var(--body-side-padding-size);
	padding-bottom: 4em;
}

/*背景画像を見せるための空間*/
#emptySpace{
	margin: 0em;
	padding: 0em;
	height: var(--empty-space-height-size);
}

#favorabilityP{
	margin: 0em;
	padding: 1em;
	font-size: 0.8em;
	line-height: 2em;
	color: var(--text-color);
	font-family: 'Noto Sans JP', sans-serif;
	text-align: left;
	display: none;
}
#favorabilityB{
	margin: 0em;
	padding: 0.5em;
	font-size: 1.5em;
	line-height: 2em;
	color: var(--text-color);
	font-family: 'Noto Sans JP', sans-serif;
	text-align: left;
}
#favorabilityDiv{
	position: fixed;
	width: 2em;
	height: 2em;
	display: none;
	overflow: visible;
}
#favorabilityImg{
	width: 2em;
	height: 2em;
}
#favorabilityDiv.appear{
	display: block;
	animation-name: animation-favorabilityImgX;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-direction: normal;
	animation-fill-mode: forwards;
}
#favorabilityImg.appear{
	display: block;
	animation-name: animation-favorabilityImgY;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-direction: normal;
	animation-fill-mode: forwards;
}
@keyframes animation-favorabilityImgX{
	0%{
		transform: translate3d(0,0,0);
	}
	12.5%{
		transform: translate3d(100%,0,0);
	}
	37.5%{
		transform: translate3d(-100%,0,0);
	}
	62.5%{
		transform: translate3d(100%,0,0);
	}
	87.5%{
		transform: translate3d(-100%,0,0);
	}
	100%{
		transform: translate3d(0,0,0);
	}
}
@keyframes animation-favorabilityImgY{
	0%{
		opacity: 1;
		visibility: visible;
		transform: translate3d(0,0,0);
	}
	100%{
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0,-1600%,0);
	}
}

/*イントロダクションカード*/
#introduction {
	margin: 0em;
	padding: 0em;
	font-size: 1em;
	background: var(--base-color);
	border: 0.2em dashed var(--text-color);
	border-radius: 1em;
	box-shadow: 0 0 0 0.5em var(--base-color);
}
#introduction p{
	margin: 0em;
	padding: 4em;
	font-size: 1em;
	line-height: 2.5em;
	color: var(--text-color);
	font-family: 'Noto Sans JP', sans-serif;
	text-align: center;
}

/* 紙芝居後の空間 */
#backgroundChangeEmptySpace{
	margin: 0em;
	padding: 0em;
	height: 40vh;
	z-index: 0;
}

/*カード*/
#cardColumn{
	margin: 0em;
	padding: 0em;
	column-count: 3;
	column-gap: 2.5em;
	column-width: 32em;
}
div.cardTrigger{
	margin: 0em;
	padding: 0em;
	background-color: var(--base-color);
	border-radius: 1em;
	transition: .8s ease-in-out;
	transform: translate3d(0,100%,0);
	transform-origin: left;
	opacity: 0;
	display: block;
}
div.cardTrigger.cardAppear{
	transform: translate3d(0,0,0);
	opacity: 1;
}
div.card{
	background-color: transparent;
	margin: 1.5em 0em;
	padding: 0em;
	display: inline-block;
	width: 100%;
	filter: drop-shadow(0.5em 0.5em 0px #00000020);
}
div.card h2 {
	background: var(--text-color);
	margin: 0em;
	padding: 1em;
	color: var(--white-color);
	border-radius: 0.5em 0.5em 0em 0em;
	font-family: 'Hachi Maru Pop', cursive;
}
/*テーブル*/
.cardTable{
	display: flex;
	justify-content: center;
}
div.card table{
	margin: 0em;
	padding: 0em;
}
div.card td{
	margin: 0em;
	padding: 0.5em;
	font-size: 1em;
	line-height: 2.5em;
	color: var(--text-color);
	font-family: 'Noto Sans JP', sans-serif;
	text-align: center;
}
/*段落*/
div.card p{
	margin: 0em;
	padding: 3em;
	font-size: 1em;
	line-height: 2.5em;
	color: var(--text-color);
	font-family: 'Noto Sans JP', sans-serif;
}
div.card b{
	font-size: 1.15em;
	line-height: 2.5em;
	color: var(--text-color);
	font-family: 'Noto Sans JP', sans-serif;
}
/*リスト*/
div.card td ul{
	margin: 0em;
	padding: 1em 1em 1em 3em;
}
div.card ul{
	margin: 0em;
	padding: 3em 3em 3em 5em;
}
div.card li{
	font-size: 1em;
	line-height: 2.5em;
	color: var(--main-color);
	text-align: left;
}
div.card span.li{
	margin: 0em;
	padding: 0em;
	color: var(--text-color);
	font-family: 'Noto Sans JP', sans-serif;
	display: block;
}
/*リンク*/
div.card a{
	color: var(--main-color);
}
/*ダッシュ*/
div.card span.wDash{
	letter-spacing:-0.2em;
	white-space:nowrap;
}

/*twitter*/
/*
div.twitterEmptySpace{
	margin: 0em;
	padding: 0em;
	height: 20em;
}

#twitter-timelineDiv{
	position: relative;
	margin: 0em calc(-1 * var(--body-side-padding-size));
	height: calc(10 * min(100vw, 80vh));
	color: var(--white-color);
	font-family: 'Noto Sans JP', sans-serif;
	text-align: center;
	background-color: var(--base-color);
	overflow: hidden;
}
*/


div.twitterEmptySpace{
	margin: 0em;
	padding: 0em;
	height: 0em;
}

#twitter-timelineDiv {
	position: relative;
	margin: 0em;
	padding: 0em;
	height: 0em;
	overflow: hidden;
}

#twitter-timelineP{
	margin: 0em calc((100vw - min(100vw, 80vh)) / 2);
	width: calc(min(100vw, 80vh));
}

#endGradation{
	position: absolute;
	width: 100%;
	height: 10em;
	bottom: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--main-color) 100%);
	pointer-events: none;
	z-index: 1;
}

/* YouTube */
div.cardTrigger.youtubeCardTrigger{
	background-color: #ffffff00;
}
#youtubeSquare{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; /* 9 / 16 */
	box-sizing: border-box;
	transition: 0.5s ease-in-out;
}
#youtubeSquare.playing{
	padding-bottom: calc(min(100%, 100vh - var(--header-height-size) - 1em));
}
#youtubeInnerSquare{
	position: absolute;
	width: 100%;
	height: 100%;
}

/*トップページ以外*/
#caution{
	font-size: 1em;
	line-height: 2.5em;
	color: var(--white-color);
	font-family: 'Noto Sans JP', sans-serif;
	text-align: right;
}
#notFoundError{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	margin: 0em;
	padding: 0em;
}
#notFoundErrorMain{
	margin: 0em;
	padding: 0em;
	font-size: 5vmin;
	line-height: 8vmin;
	color: var(--white-color);
	font-family: 'Hachi Maru Pop', cursive;
	text-align: center;
}
#notFoundErrorSub{
	margin: 0em;
	padding: 4vmin 0em;
	font-size: 1.5vmin;
	color: var(--white-color);
	font-family: 'Noto Sans JP', sans-serif;
	text-align: center;
}
