@charset "UTF-8";

/*
dHHMMMHMMMMH@HHNNM##########NMMMMMNNNMMNNN#MMNNNNMb.```````````````````````````
` (4HYHAqkWHkHHMMMMMMMMH#HH##NNMNNMMNNMMNNN#MNMMN#MB:`.`.``.`.``.`.`.`.`.`.`..``
 ` `?7WNX@MMMNHHMNHMMNHHDJ4HMMMWHMMMMMMMNNMMMM#b..`.``.`.``.`.``.``.``.`.``.`..
`  `  _:<?9WHMMHMMMHHHMM8i(+dHdMHMMNHMMM#MMM#MHM_```.```.`.``.`.``.`.```.`.```.
` `    _:<?ltzZyfpHHWHHHB=TV74dWMMHHMMMMMMMWB9z1;_````.`.``.```.`.``.`..``.`..``
`` ``  ~~<1OzZyffVyyyZX{  ` ` (?=llrzuZZZuzrtl?><``.``.``.`..`.`..``.`..`..`...
`  `   ._(<zwZyfVyyyyyV: ``` ``<=lltrzuZZZuzrl=?< ```.``.`.``.`.`..`..`..`..`.`
`` `    ._(+zwXyyZZZyyZ~` ` ``  <=ltrzuZZZuurt=?<_``.``.`.`..`.`.`..`.`..`..`..
` ` ``  .._(<zOXuuuZZZZ` ```````.1ltrvuuZZZuvtl=>_```.`.`..`....`.`..`..`..`...
` ` ` ``  .~~:+zwwmQQmgg_`` ``````(=ltrvuZZZuzrl=?<``.`.`.`.`.`...`..`........`.
`` `` ``,HM#NNMMMMMMMNM;`````` `` 1lttrzuuZuurt=?<`.`.`.`.....`.......`..`.....
` `` `` ``HH##NNNNNMNNM#]``````````.1lttrzuuuzrl=1j;.`.....`....`..`............
` ` ` ````dHH#NNNNNMNMN#t```````````(1zlttrwAQggMNNb...`..`..`.......`......`...
`````````JMH#NNNMMNMNNM}```````````.MNNMMMMMMMMMNNMc...........................
`  ` `````JHHH#NNNMMNMN#.`.``.``.`...(MNNNMNMMNNMNNNN_..........................
``` ``````J@HH#NNNMNMN#F..`..`..`.`...ZMNNNNMNMMNMNNNb..........................
`````````J@H##NMMNMNNM!.``.``.`..`....ZMNMMNMMMMNMNNNp~.~.~....................
`` ```````J@H#NNNMMNN#F......`..`..`....?MNNMNMMNNMNMNMe~.~.~~.~.~..~.~..~......
``` ``````dHH#NNMNNNNM>...`..`...`.......(HMNNMNMMNNNNN#h-~~.~~.~~.~.~.~~.~.~~.~
`````````.HHH#NMMMMMNM_....`...............TMNNMNNMMNMNN#Mx~~.~.~.~~.~.~.~.~.~..
`` ``````.MH#NNNNMMNNM_.......`...........~.(MMNNNMNNNMNNN#h_~.~~.~.~~~.~.~.~.~.
`````````JHH#NNNMNMNM#;........`..........~.~~TH#NNMMNMMNNN#N-~~~~~~.~.~~~.~~.~~
```````.`dHH#NNMNMMNNN]..................~..~../M#NNNMMNMNNN#N-~~~~~~~~.~~~.~~.~
``````.``dHH#NNNMNMMNNF.....`............~.~.~~.JHNNNNMNMNNNN#b~~~~~~~~~.~~~.~~.
``````.`.dHH#NNMNMNMNNF.................~..~.~.~~W#NNNNNNMNNNN#[~~~~~~~~~.~~~~~~
```````.`(H##NNMMNMNMNF..................~..~.~.~(M#NNNMNNNNNN#N_~~~~.~~~~~.~~.~
`````.``..MH#NNNMNNMNNt........`..........~..~.~.~(M#NNNMNMNNNN#r~~~~~~~.~~~~~~~
````.`.`..WH#NNNMMNMM#>.....`..............~..~~~.~_W#NNNMMMNMMNN~~~~~~~~~~~~~~~
```.``.`..JH#NNNMNMNNM_......`...`..........~...~~.~~7MNNNNMMNNNM<~~~~~~~~~~~~~~
`````.`.`..M#NNNNMNMNN........`...........~..~..~.~~~~/MNNNNMMMNNL~:~~~~~~~~~~~~
``.`.`.....dH#NNMNMMN#......`..`..`............~..~.~~~_WNNMNMMNNN~~~~~~~~~~~~~~
``.`.``..`.-M#NNMMNNM#..........`...`...........~.~.~~~~~U#NNMNMMMc:~~~~~~~~~~~~
`.``..`.....dMNNNMMNN#.....`.`..`..`...........~.~.~~.~~~~dMNNMMNNb~::~:~~~~~~~~
``.`.`..`...-MNNNMNMN@........`..`..`.............~.~~.~~~~dMNMMMNN-~:~~:~:~:~:~
`.`.`..`.....J#NNMNMN@.......`...`....`.......~.~.~~.~~~~~~~dNMNMMNN_:~:~~::~:~:
``.``........-MNNNMNN#......`..`..`..............~..~~~~~~~:~MNMMMMNN-:::~~:~:~~
.`..``.`.`....(MNMNMNN..........`...`.........~.~~~~~~~~~~~::dNMMMNMNN::~::~::::
.`....`...`...-MNNMMNM-......`...............~.~.~.~~~~~~~:::?MNMNMMMMc::::::~::
`.``....`......d#NNMNNb......`.`..`.........~.~~~~~~~~~~::~:::?MNMMMNNNx:~::~:::
.`..`..`.......d#NNMMNM-..................~~~~~~~~~~~~~:~::~::1dNMMMMHHWh_:~::::
..`..`....`....d#NNNNMN{...............~~~~~~~~~~~~~:~:~~~::~jmzMMWJpppkwX-:~:~:
`..`....`..`..-gMMMMMN#L..........~~~~~~~~~~~~~~~~~~~~~:~~~:(@MNyMWhWpppWkO-~:::
```.`.`..`.``.dCzzuZyVMb.....~~~~~~:~::::~::~:~~:~::~~~~:~~~(MH@MZwXWWWWWyXXx:::
...`..`...`. J+zwXXyyyMGx.~~~~~::::~~~~~~~~~~~~~~~~~~~~~~~:::(TMNNwUUXWdUOOOZx::
........`...(+zzwwZWXwwdH-__:::~~~~.................~~~~~~~::;<vWMROdXXAWWkWWk<:
.`........-<6<<+zuu0OZwHMz<<:~~......................~.~~~~~:::;jHHHQXVfpbkkkWH+
..........(>jwX&dVWkXkwMHOz<~....................~.~~.~~~~~~~:::;d@HHH#MMNNNMMHR
........._dAkXVffpWppWHHXI<_.~....................~..~..~~~~~~:::<?TMM###NNNNMMC
.......~~(HHMHMMMNN#MMHMZ<_~~.~~.~.~..~...~..~.~~.~.~.~..~.~~~~~~~::<<<<<<<<<<<~
....~.~~~~TMH####NN###M9<~~.~.~.~~.~~..~~.~.~.~.~~.~~~~~~.~~~~~~~~~~~~~~~~~~~~~~
.........~~~?7YYYYYYT>~~~~~~.~.~.~..~~.~.~.~.~~..~~..~.~.~~.~.~~~~~~~~~~~~~~~~~.
*/

/*フッター*/
footer{
	position: relative;
	margin: 0em;
	padding: 0em;
	text-align: center;
	background-color: #ffe6ea;
}
#footerContent{
	padding: 4em min(4em,8vw) 4em min(4em,8vw);
	display: flex;
}
#footerContent.common{
	align-items: center;
	flex-flow: column;
}
#footerColumnA{
	width: 35%;
	padding: 1em;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
#footerColumnA span{
	height: 2.5em;
	margin: 0em 0em 2em 0em;
	align-items: flex-start;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
	filter: grayscale(70%);
	opacity: 0.7;
}
#footerColumnA table{
	align-items: flex-end;
}
#footerColumnB{
	width: 55%;
	padding: 1em;
	text-align: left;
}
footer table{
	margin: auto auto 0em auto;
	align-items: flex-end;
}
footer p, footer td{
	margin: 0em;
	padding: 0em 0.5em 0em 0.5em;
	font-size: 0.7em;
	line-height: 1.7em;
	font-family: 'Noto Sans JP', sans-serif;
	color: #8a8077;
}
#footerColumnC{
	width: 10%;
	padding: 0em 0em 1em 0em;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
#footerColumnC.common{
	width: 100%;
}
#returnTopButton{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	background-size: contain;
	opacity: 0.5;
}

@media screen and (max-width: 600px) {
	#footerContent{
		align-items: center;
		flex-flow: column;
	}
	#footerColumnA{
		width: 100%;
	}
	#footerColumnB{
		width: 100%;
	}
	#footerColumnC{
		width: 100%;
	}
}

#copyright p{
	margin: 0em;
	padding: 0em min(4em,8vw) 4em min(4em,8vw);
	font-size: 0.5em;
	font-family: 'Noto Sans JP', sans-serif;
	color: #8a8077;
	text-align: center;
}
