@charset "UTF-8";

/*
                                               ........(++(......
                                      ...?77!`````````````````````_?7771(..
                                 ../7! .   .     ...  ...........    `````` ?7i..
                             ..7! .._~.-__....(J"_;......._-..-........._-.  ``` ?1.
                          .(=  -_~..-____...-J'..J~........._~--__--......._~-__. ``.=.
                       .,^  .-~_.-__-!.....(=...(3_...`......_--<+--~~--.......___~. ``.1,
                     ,=` .._~_.-_.-~......($....J<.............__._<_.-~<--....--...__.`` 5.
           `     `.(!` ..._~..-_-_.......-Z....-D<......_........~-.-~-.._<__...-<-...__ ``,l
                 ,'  ...-_..._...........(t....(I<...`..._..`......~-.._...._~-...-1-..___```1.
             ` .=`.....-~..-_............J:_...(I<.......-_.........__..-.....__....?,.._._ ``?,
          `   .^  ....__..-........(r....J._...(I<..`..`..__.....,....<-........__...(6-._~. ``(,
             ,! .._. __..-........-J.....J.<...(P<........-<.....(2-..._-._..........._?/.... ``(,
            ,` .._.` _..-_.(_....-(>.....J_<....b:...`.....(..`...(y<_.....<<-.._....~__?{.._.```j
         ` ,~ ....`.`_.-~~.z~....(Z......J;<....J<_.....`..-_......Jx<_.....?+_.._..~..__(o ..-`` L
          .^ ....~..__._-.(D....-jt......(](....(P_.`......-<...`...j<<_.....j+_..___.` ._?c_ _ ``(.
          %` ...._.._.__..(C....(J>.......S-_....j<....`....<......_-S:<-.....u__..~..  ..<?/.__` .L
        `,` ....-...!._...(<.._.(J<....`..(/(....(r.........~..`...__(b:<.._.._h_ .-_....._:O_._. .(.
        .%` ...._..-_(~...(<...._([........4.<....j-..`....._.......~.J+:_`....Jx_..(......(;h.._ ..[
        ,``....(<.._.(....J{....__b...__..._L-__._-b......__...._.  _--N;__...._b;_.-<.....-;?|.__..G
       `2``....<<.._.:....Jr--.._:d_....... (r-- ..(c................~.dr:<.....d:<..<_.....(:S_.__.(.
        ]` ...(>:.._-:....>b.:...(db.........(x.....j,...............(.(N;<.....(;:..(<.....(:J<..<..]
       .\` ...(::_-_(_....Iq_(..._JJc...-_....(o.....4_..............(_(fr:.....J:;_..<_...._;(P_.(_.j
       ,`` ...(:;_-.(.....$?r.>...(P?/..._....._n-...-h_.`..`..-.....(_($w;_...-Mc:_..(:_....(:b_.-<..]
       (`` ...z;:<_.~..-..$:J,(-...4:?,...~.....-4,...(s-......_.....(_(>?[_...($S:_..-<<....(:d<..(_.(.
       r`` ...I:::_-_..-..$::4-<...([:?,..-~......?,...(o.....-_..`.->(2~~4(.._J~(r....<:_...-:J<_.(;_.4
       ]``....0::;<(<.._..I:<(m-<...j-~/o._-~-.....(n-..(o...._.....__J<~:J_..(P~:q_...(::-..-:jr;_.<:-.G
      .:```...I::<:(;_._..d:~.R4,~...S:~_4-(,_-....._?,..(h..-.....__J<~:~(>._J<~:(b..._<<<..-:;D:<-(;<- O
    ` ,```....r;:<::;<.:..d:_.P~?x_~~(h~~~?+(i.~-.....?n..-n......_(f~~___J-_(t~~:~J/...<<:_.-::d<;<-;:<_.6
      r```.._.w::;;:::_:_.d;<_F~~_T,~~(S::~_4,?,__....._T,.-4-..__(%~(JdU0zzUXUUnJ_~?_.-(<<<_.:;?P::<(;<<<.1.
     .%```.._.w::;:;:;<:_.Z:<($~~_..<((JggJJ~(4J6,.......?0,.?,_(J:(dMSAQgNMMMMHmwzXUU2.-<<:_.(::w<::_;:<+<.j,
     ,~ ``..<.k:;;::;:;;<(D:<(<~((JX9UzzzzXWa,~_TJ4,~..~~~_?G,(Q3_`.mVMNNMMMMMMMm(4yzdi..<<<:_(:;?b:::(;:++<-(,
     J. ` ..:-K::;:;;:;::JSaJWW9zwQNMMMMMNNNMM8_..?Gv+_~~~~~~(D+<,`?`.MMHHHWWY"7"!.JwPIh-(<<;:_:::Jx;;;::;+z<_-l
     P.``...:(D;:;;<::<;:P?kzzzwV(M#MMMqHMMML?e...``.4,~~~~(J^_``?^``(SOd+=j.1....`.N]f=V,<:<:;;::;W<::;:::+z<_-G
    .%.  ...>(C:;;:<;;;:j3j=4wwP.(MM9UUVT}    ```````` T,~J=```````` .$<?v<?><z<d}  dtSl=z9:<<:::;:<h:::::::+z<__4.
    ,.. ...-!J::;:<>:;::Zj5w.?d)`JkXI?d2?12+j) `````````.4]`````````  .__(-~____J   J_rSl=l>:<;::::;?b;;:;:::+<<:1z.
    P......(_P::;:+;:;:j#6q}t`Jb ,f?6<<><(<<d: ``````````````````````  3_`     ('  ..(%(sl==<:<:;::::Js<;:;:;:1<:+zJ.
   .:`._...<(3:;;+>:;;;dlu$.j``?. ..____(>_.?`````````````````````````` _-.. .__ ....(>.jz=lz:<<:;::;:qz<::::;<z::1=n
   v..(<..-:J;::;x::<:jDzP..J-`.   1_    ` /```````````.`.````````````````...........(_.(Rl=lz:<<::;::;W=<:;:::+<;<lv]
  .\.-:<..(.f::;<I:;;:Jld..(J_..... .~..._!```````````.`.<.`````````````............~dh..q===zc;<;:;<<:?Rz;:;::<z;;1ld.
  J..;::_.~(D::;j;:;;+@jt.-Sd_..........``.````````````````.``````````.``.`...`.....(Evb.(Zll=vx:<::<R:;dzz;::::+<<<=z]
 .t.(::;_.:(I:;;J::;:j0d_.(Id;.`.........```````````````````````````````.`...`.....~J==d/(Nl==lz<:<:;d<:?bl<;:;;;<<<+lX
 ,~_:::;<.:J:::;Z:;;:dld..Jllb........`..`.````````````````````````````.``.`....`..(6lllh(H==l==I;<;:jZ:;X=>::;j;<:<<Id.
 D_+::;::_<J::;>0::;;X=d..k==vL.`..`..`.`````````````````````````````````.``.`.`._JI===ldgdZl==lz<;<;;b;:jl>;::K;<<+<Zd}
.t(=<:::;<<d;:;;O;:;:Kld-.Sl=lvh``.```.````````````````````````````````````````.-JIl=l==lM(I=l=llI:;;:W;:Jl<;;jD;:<<>0z]
.l+=>;:::;<J;::<d::;;Wldb.Xl==llh.`````````````````````` ...,````````````````. _JI==l=l=lP(Il===lO:<;:X<:Jl;::jI::;<10z]
,Illz:;::::(>:;<vc;;:dlzV,Jl==l=lX,``````````````` ````````````````````````` ._JIl==l==ld%(0=l===d;;<:W<:Xv:<:X=;:;<j0d\
 bIl=<<;:;:(P::;+$:;<Jyl$j(yl==l=lzS,`````````````````````````````````````.._(Zl=l=l==l=Z.(0l=ll=d>;<;K;jD;<;jDv:::<dOd!
 jz=lz:<;::;W:;<;d+:<<Nld-Obl=l==lllzS, ````````````````````````````````` _(d6=l==l==lld%.(I===l=d>;<jD:d><<:JI<:;:+Zld
 .kO==<;;::;?r:;<+S:;<?slb.dsl==l===llzU+-.```````` `````````````````` ._(J6==l=l==l==zP..(Ol=l=ld:;;jCJ><<<+@z:;;<z0z]
  jzwlz:;<:::q<:<<z$:<;qzd/.vs=l==l====llvS,_. `````````````.``````` __JYjDl=l==l=l=lld_..J=l==l=y;;;d1C<<<:JI>:;<+vld
   4zwlz<;<;:<W<:<<vs:;;Wlh..7sl=ll==l====lW?SJ,_-  ``````..`.... -_(J=::(l==l=l==l=ld>..-K==ll=j$:;jD<<<<:j8l<:++dId^
    4sOzlz;<;:<4+;1+vn:<<hvr..zv1l=ll=l=l==zb::(T9QJ.-..__.-..-__(J5<:~:~dl===l==l=lzP...(Il==l=y:;<k><<;:<dlz;<1z0u%
     (kvGlz<<<;<?e:1<1O<;<hd,..4. ?1=l=l=ll>X~:~::::(?T"9Hgg+&g#=::~:~:~:dl=l==l==l=d!..-Kl=l=ld<:;dC<<;:;JI=>:JzVu%
       7sOO=z<1;<1SJ<<?z+;<44..-b     ```   J:~:~~:~::~:::::~::~:~:~::~:~dl==l=l=l==X...(Il=lzZ<:;J6<<<:<J0=l<jIZu%
         7eOzlz<+;<1UJ<;?1<;4]..(,          (::~::~~:~:~~:~~:~:~::~:~::~.dll==l==l=lK..-m=llu5::jdI<<JC;JIl=zjIZd^
           ?4yOlz++;;+Oz<:<<:q...b           ~:~::~:~::~:~::~:~:~:~::~_..(x=l==l==l=b..(@=uY<:+JSz<+9<<dI=llzGXv
              74mzl=+;::;+<:;J-..J            `~:~::~:~:::~::~:~::~:~...._Dl=l=l=l=lS..rXY<:jg8l1J9v;jfl=l=uGK^
                 (TWszz+;<Tf1+]..(<              ~~::~:~~:~~::~:~::~___...(z=l==l==ld_(\jjJ49zgUI<<:j#l=l=qH"
                     _"TAex+vjb..(AJ3..             _~::~::~:~:~:~._~::__.`.==l=lzaZT[(_(.Vu7Vl<;:jd#l==ud"
                           _70j..j,. ~7"<.             `~~::~:~~......_::`  .uggHAv"!jJ.-K= J<::jJu9=lzd"
                            .>(-(t                          ```......``` .""77`    ..KM_.(.3::jvj0lluv^
                            2.(_J                                              ~?7!    h-.h:j7(Xlus"
          `                .'.dJ`                                                     .ZO,(P.Vuv"
             `            .F.(D                                                     .3+v^,x(r`
                  `       J_(=                                                   .kv"`  ^  7(+
          `              .u=                                                                 7L
                        .D`
                   `  .Y
*/

/*ヘッダー*/
header {
	position: fixed;
	top: 0em;
	left: 0em;
	width: 100vw;
	margin: 0em;
	padding: 0em;
	z-index: 10;
}
#headerContent {
	margin: 0em;
	padding: 1.5em 2em 1.5em 2em;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
#headerColorGray {
	position: fixed;
	display: block;
	margin: 0em;
	padding: 0em;
	top: 0em;
	left: 0em;
	width: 100vw;
	z-index: -1;
	background-color: #AA8C8E;
	box-shadow: 0em 0.5em 0.5em #00000040;
}
#headerColorPink {
	position: fixed;
	transition: 1s ease-in-out;
	transform: translate3d(0,0,0);
	display: block;
	margin: 0em;
	padding: 0em;
	top: 0em;
	left: 0em;
	width: 100vw;
	z-index: -2;
	background-color: #ff7c88;
	box-shadow: 0em 0.5em 0.5em #00000040;
}
#headerColorPink.kamishibaiAppear {
	transform: translate3d(0,-100%,0);
}
#headerColorBlack {
	position: fixed;
	transition: 1s ease-in-out;
	transform: translate3d(0,-100%,0);
	display: block;
	margin: 0em;
	padding: 0em;
	top: 0em;
	left: 0em;
	width: 100vw;
	z-index: -2;
	background-color: #101010;
}
#headerColorBlack.kamishibaiAppear {
	transform: translate3d(0,0,0);
}

#headerImgA {
	padding: 0em;
	margin-right: auto;
	width: 8.21875em;
	height: 3em;
}
#headerImg {
	padding: 0em;
	margin-right: auto;
	width: 8.2188em
	height: 3em;
}
#headerXA{
	margin: 0em;
	padding: 0em 1em 0em 1em;
	font-size: 2em;
	text-decoration: none;
	color: #ffffff;
	line-height: 0em;
	font-family: 'Noto Sans JP', sans-serif;
}
#headerImgYoutubeA {
	margin: 0em;
	padding: 0em 1em 0em 1em;
	display: flex;
	align-items: center;
}
#headerImgYoutube {
	width: 2em;
	height: 2em;
}
